@import '../styles/variables.sass'
@import '../styles/typo.sass'

.container
  flex: 1
  background-color: $white
  align-items: center
  justify-content: center
  padding-top: 30px

.header
  font-size: 30px
  margin-bottom: 10px

.list
  height: 50%
  width: 100%

.listItem
  padding: 15px 10px

.separator
  height: 1px
  background-color: $grey

.listHeader
  width: 100%
  min-height: 50px
  background-color: $blue
  display: flex
  flex-direction: row

.button
  line-height: 50px
  padding: 0 10px
  color: $white

.buttonAdd
  align-self: flex-end // TODO: Fix this

.buttonAddText
  font-size: 20px

.active
  font-weight: bold

